In [74]:
import pandas as pd
bond=pd.read_csv("C:\Dawid\Szkola\studia\ostatni_rozdzial\Github\python\Data Analysis with Pandas and Python\pandas\pandas\Incomplete\jamesbond.csv", index_col="Film").sort_index() #good for data efficiency

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\deber\AppData\Local\Temp\ipykernel_12064\625729550.py:2: SyntaxWarning: invalid escape sequence '\D'
  bond=pd.read_csv("C:\Dawid\Szkola\studia\ostatni_rozdzial\Github\python\Data Analysis with Pandas and Python\pandas\pandas\Incomplete\jamesbond.csv", index_col="Film").sort_index() #good for data efficiency

In [4]:
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [6]:
bond=bond.set_index("Film") #we have to overwrite
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [12]:
bond=bond.reset_index().set_index("Year") #all operaions are nonmutational, they are not goona chagne the existing data

In [13]:
bond=bond.reset_index()

In [15]:
bond.iloc[5] #technically its not method. 6th row
bond.head(10)

,Year,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
0,1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1,1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
2,1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
4,1967,Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN
5,1967,You Only Live Twice,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,1969,On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,1971,Diamonds Are Forever,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,1973,Live and Let Die,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,1974,The Man with the Golden Gun,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [19]:
bond.iloc[[15,20]] #15th and 20th row
bond.iloc[4:8] #second value is exclusive from 4th to 7th row
bond.iloc[0:6]
bond.iloc[:6] #from beginnig to 5th row

bond.iloc[20:] #from 20th to the end

,Year,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
0,1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1,1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
2,1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
4,1967,Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN
5,1967,You Only Live Twice,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [36]:
#bond=bond.set_index("Film")
bond.loc["Goldfinger"] # I must have set Film as index
bond.loc["Casino Royale"] # 2 rows
#bond.loc["Sacred Bond"] # does not exist so Key error

bond.loc[["Octopussy","Moonraker"]]
bond.loc[["Moonraker","Octopussy"]] #order is importnatn
bond.loc["Diamonds Are Forever":"Moonraker"] #THE SECOND VALUE IS INCLUSIVE
bond.loc["GoldenEye":] #untill the last row
bond.loc[:"Skyfall"]

bond.loc[:"Casion Royale"] #we have 2 values so we have to precise which one

KeyError: 'Casion Royale'

In [26]:
"""PICKING ROWS AND COLUMNS"""

In [37]:
bond.loc["Diamonds Are Forever", "Director"] #intersection of these rays

'Guy Hamilton'

In [39]:
bond.loc[["Octopussy", "GoldenEye"],"Director":"Budget"]

                  Director  Box Office  Budget
Film
Octopussy        John Glen       373.8    53.9
GoldenEye  Martin Campbell       518.5    76.9

In [46]:
bond.loc["GoldenEye":"Octopussy","Director":"Budget"] #i had to srot_index DF in order to get proper sequence alphabetical

                                 Director  Box Office  Budget
Film
GoldenEye                 Martin Campbell       518.5    76.9
Goldfinger                   Guy Hamilton       820.4    18.6
Licence to Kill                 John Glen       250.9    56.7
Live and Let Die             Guy Hamilton       460.3    30.8
Moonraker                   Lewis Gilbert       535.0    91.5
Never Say Never Again      Irvin Kershner       380.0    86.0
No Time to Die         Cary Joji Fukunaga       774.2   301.0
Octopussy                       John Glen       373.8    53.9

In [47]:
bond.loc["GoldenEye":"Octopussy",["Actor","Director","Budget"]] #i had to sort_index DF in order to get proper sequence alphabetical

                                Actor            Director  Budget
Film
GoldenEye              Pierce Brosnan     Martin Campbell    76.9
Goldfinger               Sean Connery        Guy Hamilton    18.6
Licence to Kill        Timothy Dalton           John Glen    56.7
Live and Let Die          Roger Moore        Guy Hamilton    30.8
Moonraker                 Roger Moore       Lewis Gilbert    91.5
Never Say Never Again    Sean Connery      Irvin Kershner    86.0
No Time to Die           Daniel Craig  Cary Joji Fukunaga   301.0
Octopussy                 Roger Moore           John Glen    53.9

In [48]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
No Time to Die,2021,Daniel Craig,Cary Joji Fukunaga,774.2,301.0,25.0
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,30.0
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [49]:
bond.iloc[0,2]

'John Glen'

In [50]:
bond.iloc[3,5] #zaczyna liczenie od 0 ,1,2,3 i kolumn od year 0 , 1

np.float64(5.8)

In [58]:
bond.iloc[[0,1,2,3],2:6]
bond.iloc[[0,1,2,3],[2,3,4,5]]

                             Director  Box Office  Budget  Bond Actor Salary
Film
A View to a Kill            John Glen       275.2    54.5                9.1
Casino Royale         Martin Campbell       581.5   145.3                3.3
Casino Royale              Ken Hughes       315.0    85.0                NaN
Diamonds Are Forever     Guy Hamilton       442.5    34.7                5.8

In [21]:
bond.loc["Sean Connery","Actor"] #nie moge wyszkoiwac po wartosci, jedynie po Film bo jest indexem #=["Sir Sean Connary"]

KeyError: 'Sean Connery'

In [24]:
bond["Actor"].loc["Diamonds Are Forever"]=["Sir Sean Connery"]
"""the infromation says athat dont use loc on an extracted subsection or smaller component of the larger object.
In fact its not a copy bcs we changed main DF. Rather pick loc on larger object"""

C:\Users\deber\AppData\Local\Temp\ipykernel_12064\1389070386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bond["Actor"].loc["Diamonds Are Forever"]=["Sir Sean Connery"]

In [25]:
bond["Actor"].loc["Diamonds Are Forever"]

['Sir Sean Connery']

In [29]:
"""now we will use loc on top level df"""
bond.loc["Diamonds Are Forever","Actor"]="Sean Connery"
bond.loc["Diamonds Are Forever","Actor"]
"""Use loc on top level DF. not on the slice"""

'Sean Connery'

In [33]:
"""overriting multiple values"""
bond["Actor"]=bond["Actor"].replace("Sean Connery", "Sir Sean Connery")
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
No Time to Die,2021,Daniel Craig,Cary Joji Fukunaga,774.2,301.0,25.0
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,30.0
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [36]:
bond[bond["Actor"]=="Sean Connery"].loc[:,"Actor"]="Sir Sean Connery"
#this is totally distinct object
# again we used .loc not on bond but on subset

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [43]:
is_sean_connery=bond["Actor"]=="Sean Connery"
bond.loc[is_sean_connery, "Actor"]="Sir Sean Connery"
#now we are working on original ona view, not a copy
#relpace is better option,

In [40]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
No Time to Die,2021,Daniel Craig,Cary Joji Fukunaga,774.2,301.0,25.0
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,30.0
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [45]:
"""rename column indexes"""
bond.rename(columns={"Year": "Year of Release", "Box Office":"Revenue"}) #its a copy
bond=bond.rename(columns={"Year": "Year of Release", "Box Office":"Revenue"})

In [46]:
"""now chaanging row indexes"""
swaps={
    "Dr. No":"Dr No",
    "Goldeneye":"Golden Eye"
}
bond.rename(index=swaps)

,Year of Release,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
No Time to Die,2021,Daniel Craig,Cary Joji Fukunaga,774.2,301.0,25.0
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,30.0
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [49]:
type(bond.columns)
bond.columns = ["Year", "Bond Guy", "Camere Dude", "Revenues", "Cost", "Salary"]
#its goona be valid only if are changing all data collection

In [52]:
"""DELETEING COLUMNS"""
bond.drop(columns=["Box Office", "Budget"]) #on a copy

,Year,Actor,Director,Bond Actor Salary
Film,,,,
A View to a Kill,1985,Roger Moore,John Glen,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,3.3
Casino Royale,1967,David Niven,Ken Hughes,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,17.9
Dr. No,1962,Sean Connery,Terence Young,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,NaN
From Russia with Love,1963,Sean Connery,Terence Young,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,NaN
No Time to Die,2021,Daniel Craig,Cary Joji Fukunaga,25.0
Octopussy,1983,Roger Moore,John Glen,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,14.5
Spectre,2015,Daniel Craig,Sam Mendes,30.0
The Living Daylights,1987,Timothy Dalton,John Glen,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,13.5
Thunderball,1965,Sean Connery,Terence Young,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,4.4

In [53]:
"""deleting row indexes"""
bond.drop(index=["No Time to Die", "Casino Royale"], columns=["Year"])

,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,Roger Moore,John Glen,275.2,54.5,9.1
Diamonds Are Forever,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,Daniel Craig,Sam Mendes,726.7,206.3,30.0
The Living Daylights,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [55]:
"""WARNING .POP IS MUTATIONAL METHOD SO IT WILL CHANGE ORIGINAL DF IDK WHY inconsistency"""
bond.pop("Actor")

Film
A View to a Kill                      Roger Moore
Casino Royale                        Daniel Craig
Casino Royale                         David Niven
Diamonds Are Forever                 Sean Connery
Die Another Day                    Pierce Brosnan
Dr. No                               Sean Connery
For Your Eyes Only                    Roger Moore
From Russia with Love                Sean Connery
GoldenEye                          Pierce Brosnan
Goldfinger                           Sean Connery
Licence to Kill                    Timothy Dalton
Live and Let Die                      Roger Moore
Moonraker                             Roger Moore
Never Say Never Again                Sean Connery
No Time to Die                       Daniel Craig
Octopussy                             Roger Moore
On Her Majesty's Secret Service    George Lazenby
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
The Living Daylights               Timothy Dalton
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
The World Is Not Enough            Pierce Brosnan
Thunderball                          Sean Connery
Tomorrow Never Dies                Pierce Brosnan
You Only Live Twice                  Sean Connery
Name: Actor, dtype: object

In [56]:
bond #no .pop Actor column

,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,John Glen,275.2,54.5,9.1
Casino Royale,2006,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Irvin Kershner,380.0,86.0,NaN
No Time to Die,2021,Cary Joji Fukunaga,774.2,301.0,25.0
Octopussy,1983,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Sam Mendes,726.7,206.3,30.0
The Living Daylights,1987,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Lewis Gilbert,514.2,59.9,4.4

In [59]:
actors=bond.pop("Actor") #it takes from bond and convey to actors
actors.head()

Film
A View to a Kill           Roger Moore
Casino Royale             Daniel Craig
Casino Royale              David Niven
Diamonds Are Forever      Sean Connery
Die Another Day         Pierce Brosnan
Name: Actor, dtype: object

In [61]:
del bond["Year"]
bond

,Director,Box Office,Budget,Bond Actor Salary
Film,,,,
A View to a Kill,John Glen,275.2,54.5,9.1
Casino Royale,Martin Campbell,581.5,145.3,3.3
Casino Royale,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,Guy Hamilton,442.5,34.7,5.8
Die Another Day,Lee Tamahori,465.4,154.2,17.9
Dr. No,Terence Young,448.8,7.0,0.6
For Your Eyes Only,John Glen,449.4,60.2,NaN
From Russia with Love,Terence Young,543.8,12.6,1.6
GoldenEye,Martin Campbell,518.5,76.9,5.1
Goldfinger,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,John Glen,250.9,56.7,7.9
Live and Let Die,Guy Hamilton,460.3,30.8,NaN
Moonraker,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,Irvin Kershner,380.0,86.0,NaN
No Time to Die,Cary Joji Fukunaga,774.2,301.0,25.0
Octopussy,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,Marc Forster,514.2,181.4,8.1
Skyfall,Sam Mendes,943.5,170.2,14.5
Spectre,Sam Mendes,726.7,206.3,30.0
The Living Daylights,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,Michael Apted,439.5,158.3,13.5
Thunderball,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,Lewis Gilbert,514.2,59.9,4.4

In [63]:
"""create random sample"""
bond.sample(n=5, axis="rows")

                             Director  Box Office  Budget  Bond Actor Salary
Film
GoldenEye             Martin Campbell       518.5    76.9                5.1
You Only Live Twice     Lewis Gilbert       514.2    59.9                4.4
Skyfall                    Sam Mendes       943.5   170.2               14.5
The Spy Who Loved Me    Lewis Gilbert       533.0    45.1                NaN
Licence to Kill             John Glen       250.9    56.7                7.9

In [64]:
bond.sample(n=3, axis="columns") #3 random columns

                                 Budget  Box Office            Director
Film
A View to a Kill                   54.5       275.2           John Glen
Casino Royale                     145.3       581.5     Martin Campbell
Casino Royale                      85.0       315.0          Ken Hughes
Diamonds Are Forever               34.7       442.5        Guy Hamilton
Die Another Day                   154.2       465.4        Lee Tamahori
Dr. No                              7.0       448.8       Terence Young
For Your Eyes Only                 60.2       449.4           John Glen
From Russia with Love              12.6       543.8       Terence Young
GoldenEye                          76.9       518.5     Martin Campbell
Goldfinger                         18.6       820.4        Guy Hamilton
Licence to Kill                    56.7       250.9           John Glen
Live and Let Die                   30.8       460.3        Guy Hamilton
Moonraker                          91.5       535.0       Lewis Gilbert
Never Say Never Again              86.0       380.0      Irvin Kershner
No Time to Die                    301.0       774.2  Cary Joji Fukunaga
Octopussy                          53.9       373.8           John Glen
On Her Majesty's Secret Service    37.3       291.5       Peter R. Hunt
Quantum of Solace                 181.4       514.2        Marc Forster
Skyfall                           170.2       943.5          Sam Mendes
Spectre                           206.3       726.7          Sam Mendes
The Living Daylights               68.8       313.5           John Glen
The Man with the Golden Gun        27.7       334.0        Guy Hamilton
The Spy Who Loved Me               45.1       533.0       Lewis Gilbert
The World Is Not Enough           158.3       439.5       Michael Apted
Thunderball                        41.9       848.1       Terence Young
Tomorrow Never Dies               133.9       463.2  Roger Spottiswoode
You Only Live Twice                59.9       514.2       Lewis Gilbert

In [67]:
#n smallest value
#retrieve the 4 films with the higetst box office
bond.sort_values("Box Office", ascending=False).iloc[0:4]

                          Director  Box Office  Budget  Bond Actor Salary
Film
Skyfall                 Sam Mendes       943.5   170.2               14.5
Thunderball          Terence Young       848.1    41.9                4.7
Goldfinger            Guy Hamilton       820.4    18.6                3.2
No Time to Die  Cary Joji Fukunaga       774.2   301.0               25.0

In [68]:
"""nlargest moethod will make it faster"""
bond.nlargest(n=4,columns="Box Office")

                          Director  Box Office  Budget  Bond Actor Salary
Film
Skyfall                 Sam Mendes       943.5   170.2               14.5
Thunderball          Terence Young       848.1    41.9                4.7
Goldfinger            Guy Hamilton       820.4    18.6                3.2
No Time to Die  Cary Joji Fukunaga       774.2   301.0               25.0

In [70]:
bond["Box Office"].nlargest(4)

Film
Skyfall           943.5
Thunderball       848.1
Goldfinger        820.4
No Time to Die    774.2
Name: Box Office, dtype: float64

In [72]:
bond.nsmallest(3, columns="Bond Actor Salary")
bond["Bond Actor Salary"].nsmallest(3)

Film
Dr. No                             0.6
On Her Majesty's Secret Service    0.6
From Russia with Love              1.6
Name: Bond Actor Salary, dtype: float64

In [76]:
"""FILTERING WHERE"""
actor_id_john=bond["Actor"]=="Sean Connery"
bond[actor_id_john] 
bond.where(actor_id_john) #if value boolen is False then NaN

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
No Time to Die,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [77]:
"""APPLY METHOD"""
bond["Actor"].apply(len) #it will pass trhough all values and collect in a new Series

Film
A View to a Kill                   11
Casino Royale                      12
Casino Royale                      11
Diamonds Are Forever               12
Die Another Day                    14
Dr. No                             12
For Your Eyes Only                 11
From Russia with Love              12
GoldenEye                          14
Goldfinger                         12
Licence to Kill                    14
Live and Let Die                   11
Moonraker                          11
Never Say Never Again              12
No Time to Die                     12
Octopussy                          11
On Her Majesty's Secret Service    14
Quantum of Solace                  12
Skyfall                            12
Spectre                            12
The Living Daylights               14
The Man with the Golden Gun        11
The Spy Who Loved Me               11
The World Is Not Enough            14
Thunderball                        12
Tomorrow Never Dies                14
You Only Live Twice                12
Name: Actor, dtype: int64

In [85]:
#polecenie z filmu
def ranking(row):
    if row["Year"]>1980 and row["Year"]<1990:
        print(row) #by defalut apply will invoke it by every column
    
        
bond.apply(ranking, axis='columns') #so we have to chagne it to do accross columns its a bit confusing

Year                        1985
Actor                Roger Moore
Director               John Glen
Box Office                 275.2
Budget                      54.5
Bond Actor Salary            9.1
Name: A View to a Kill, dtype: object
Year                        1981
Actor                Roger Moore
Director               John Glen
Box Office                 449.4
Budget                      60.2
Bond Actor Salary            NaN
Name: For Your Eyes Only, dtype: object
Year                           1989
Actor                Timothy Dalton
Director                  John Glen
Box Office                    250.9
Budget                         56.7
Bond Actor Salary               7.9
Name: Licence to Kill, dtype: object
Year                           1983
Actor                  Sean Connery
Director             Irvin Kershner
Box Office                    380.0
Budget                         86.0
Bond Actor Salary               NaN
Name: Never Say Never Again, dtype: object
Year                        1983
Actor                Roger Moore
Director               John Glen
Box Office                 373.8
Budget                      53.9
Bond Actor Salary            7.8
Name: Octopussy, dtype: object
Year                           1987
Actor                Timothy Dalton
Director                  John Glen
Box Office                    313.5
Budget                         68.8
Bond Actor Salary               5.2
Name: The Living Daylights, dtype: object

Film
A View to a Kill                   None
Casino Royale                      None
Casino Royale                      None
Diamonds Are Forever               None
Die Another Day                    None
Dr. No                             None
For Your Eyes Only                 None
From Russia with Love              None
GoldenEye                          None
Goldfinger                         None
Licence to Kill                    None
Live and Let Die                   None
Moonraker                          None
Never Say Never Again              None
No Time to Die                     None
Octopussy                          None
On Her Majesty's Secret Service    None
Quantum of Solace                  None
Skyfall                            None
Spectre                            None
The Living Daylights               None
The Man with the Golden Gun        None
The Spy Who Loved Me               None
The World Is Not Enough            None
Thunderball                        None
Tomorrow Never Dies                None
You Only Live Twice                None
dtype: object

In [91]:
def ranking(row):
    year= row["Year"]
    budget=row["Budget"]
    actor=row["Actor"]
    if year >1980 and year <1990:
        return "Great 80's flick"
    if actor=="Pierce Brosnan":
        return "The best bond ever"
    if budget>100:
        return "Expenses"
    return "No comment"
        
bond.apply(ranking, axis='columns') #so we have to chagne it to do accross columns its a bit confusing

Film
A View to a Kill                     Great 80's flick
Casino Royale                                Expenses
Casino Royale                              No comment
Diamonds Are Forever                       No comment
Die Another Day                    The best bond ever
Dr. No                                     No comment
For Your Eyes Only                   Great 80's flick
From Russia with Love                      No comment
GoldenEye                          The best bond ever
Goldfinger                                 No comment
Licence to Kill                      Great 80's flick
Live and Let Die                           No comment
Moonraker                                  No comment
Never Say Never Again                Great 80's flick
No Time to Die                               Expenses
Octopussy                            Great 80's flick
On Her Majesty's Secret Service            No comment
Quantum of Solace                            Expenses
Skyfall                                      Expenses
Spectre                                      Expenses
The Living Daylights                 Great 80's flick
The Man with the Golden Gun                No comment
The Spy Who Loved Me                       No comment
The World Is Not Enough            The best bond ever
Thunderball                                No comment
Tomorrow Never Dies                The best bond ever
You Only Live Twice                        No comment
dtype: object