In [4]:
import pandas as pd

In [6]:
fortune=pd.read_csv(r"C:\Dawid\Szkola\studia\ostatni_rozdzial\Github\python\Data Analysis with Pandas and Python\pandas\pandas\Incomplete\fortune1000.csv")

In [7]:
fortune.head()

,Rank,Company,Sector,Industry,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [11]:
#sums of revenues of each sectors
fortune[fortune["Sector"]=="Retailing"].sum()
fortune[fortune["Sector"] == "Retailing"]["Revenue"].sum()

np.int64(1465076)

In [12]:
fortune.groupby(["Sector"]) #object groupby , collections of DF and each DF(retail,energy, tech etc) contains data about each sector

In [13]:
sectors=fortune.groupby(["Sector"])
sectors

In [14]:
len(sectors) #21 unique sectors

21

In [15]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [16]:
sectors.first() #wybiera pierwsze wiersze z kaÅ¼dej kategorii

,Rank,Company,Industry,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,24,Boeing,Aerospace and Defense,96114,5176,161400
Apparel,91,Nike,Apparel,30601,3273,62600
Business Services,144,ManpowerGroup,Temporary Help,19330,419,27000
Chemicals,56,Dow Chemical,Chemicals,48778,7685,49495
Energy,2,Exxon Mobil,Petroleum Refining,246204,16150,75600
Engineering & Construction,155,Fluor,"Engineering, Construction",18114,413,38758
Financials,4,Berkshire Hathaway,Insurance: Property and Casualty (Stock),210821,24083,331000
Food and Drug Stores,7,CVS Health,Food and Drug Stores,153290,5237,199000
"Food, Beverages & Tobacco",41,Archer Daniels Midland,Food Production,67702,1849,32300
Health Care,5,McKesson,Wholesalers: Health Care,181241,1476,70400
"Hotels, Resturants & Leisure",109,McDonaldâ€™s,Food Services,25413,4529,420000
Household Products,34,Procter & Gamble,Household and Personal Products,78756,7036,110000
Industrials,11,General Electric,Industrial Machinery,140389,-6126,333000
Materials,126,Alcoa,Metals,22534,-322,60000
Media,53,Disney,Entertainment,52465,8382,185000
Motor Vehicles & Parts,8,General Motors,Motor Vehicles and Parts,152356,9687,215000
Retailing,1,Walmart,General Merchandisers,482130,14694,2300000
Technology,3,Apple,"Computers, Office Equipment",233715,53394,110000
Telecommunications,10,AT&T,Telecommunications,146801,13345,281450
Transportation,48,UPS,"Mail, Package, and Freight Delivery",58363,4844,341240
Wholesalers,57,Sysco,Wholesalers: Food and Grocery,48681,687,51700

In [18]:
sectors.get_group("Energy") #all values from particular column

C:\Users\deber\AppData\Local\Temp\ipykernel_13128\1052779234.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sectors.get_group("Energy")

,Rank,Company,Sector,Industry,Revenue,Profits,Employees
1,2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
13,14,Chevron,Energy,Petroleum Refining,131118,4587,61500
29,30,Phillips 66,Energy,Petroleum Refining,87169,4227,14000
31,32,Valero Energy,Energy,Petroleum Refining,81824,3990,10103
41,42,Marathon Petroleum,Energy,Petroleum Refining,64566,2852,45440
...,...,...,...,...,...,...,...
980,981,WPX Energy,Energy,"Mining, Crude-Oil Production",1958,-1727,1040
982,983,Adams Resources & Energy,Energy,Petroleum Refining,1944,-1,809
994,995,EP Energy,Energy,"Mining, Crude-Oil Production",1908,-3748,665
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646

In [19]:
sectors.get_group(["Energy","Technology"])

C:\Users\deber\AppData\Local\Temp\ipykernel_13128\952515833.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sectors.get_group(["Energy","Technology"])

TypeError: unhashable type: 'list'

In [21]:
sectors["Revenue"]

In [22]:
sectors["Revenue"].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [24]:
fortune[fortune["Sector"]=="Apparel"]["Revenue"].sum() #inefficient method for scalable measures

np.int64(95968)

In [28]:
sectors["Profits"].max() #maksymalna wartoÅ›Ä‡ dla danej grupy
sectors["Profits"].min() 
sectors["Employees"].mean()

Sector
Aerospace & Defense             48402.850000
Apparel                         23093.133333
Business Services               26687.254902
Chemicals                       15455.033333
Energy                           9745.303279
Engineering & Construction      15642.615385
Financials                      24172.287770
Food and Drug Stores            93026.533333
Food, Beverages & Tobacco       28177.488372
Health Care                     35710.520000
Hotels, Resturants & Leisure    99369.800000
Household Products              23072.785714
Industrials                     33591.934783
Materials                       14840.069767
Media                           22012.560000
Motor Vehicles & Parts          45106.666667
Retailing                       77845.362500
Technology                      35087.735294
Telecommunications              55497.866667
Transportation                  42688.694444
Wholesalers                     13139.925000
Name: Employees, dtype: float64

In [29]:
sectors[["Revenue", "Profits"]].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

In [30]:
sectors_combination=fortune.groupby(["Sector","Industry"])
fortune.head()

,Rank,Company,Sector,Industry,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [32]:
sectors_combination.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [33]:
sectors_combination["Revenue"].sum()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            357940
Apparel              Apparel                                           95968
Business Services    Advertising, marketing                            22748
                     Diversified Outsourcing Services                  64829
                     Education                                          7485
                                                                       ...
Transportation       Trucking, Truck Leasing                           35950
Wholesalers          Miscellaneous                                      8982
                     Wholesalers: Diversified                         176138
                     Wholesalers: Electronics and Office Equipment    147906
                     Wholesalers: Food and Grocery                    111774
Name: Revenue, Length: 79, dtype: int64

In [37]:
sectors_combination["Employees"].sum().head(20)

Sector                      Industry
Aerospace & Defense         Aerospace and Defense                968057
Apparel                     Apparel                              346397
Business Services           Advertising, marketing               124100
                            Diversified Outsourcing Services     708330
                            Education                             46755
                            Financial Data Services              264926
                            Miscellaneous                         37720
                            Temporary Help                        60020
                            Waste Management                     119199
Chemicals                   Chemicals                            463651
Energy                      Energy                                70072
                            Mining, Crude-Oil Production         149110
                            Miscellaneous                          6700
                            Oil and Gas Equipment, Services      225795
                            Petroleum Refining                   244880
                            Pipelines                             72141
                            Utilities: Gas and Electric          420229
Engineering & Construction  Engineering, Construction            368104
                            Homebuilders                          38604
Financials                  Commercial Banks                    1539024
Name: Employees, dtype: int64

In [40]:
sectors.agg({"Revenue":"sum","Profits":"max","Employees":"mean"}) #dict key: column, value: operation
#the advantage is multiple operations

                              Revenue  Profits     Employees
Sector
Aerospace & Defense            357940     7608  48402.850000
Apparel                         95968     3273  23093.133333
Business Services              272195     6328  26687.254902
Chemicals                      243897     7685  15455.033333
Energy                        1517809    16150   9745.303279
Engineering & Construction     153983      803  15642.615385
Financials                    2217159    24442  24172.287770
Food and Drug Stores           483769     5237  93026.533333
Food, Beverages & Tobacco      555967     7351  28177.488372
Health Care                   1614707    18108  35710.520000
Hotels, Resturants & Leisure   169546     5920  99369.800000
Household Products             234737     7036  23072.785714
Industrials                    497581     4833  33591.934783
Materials                      259145      991  14840.069767
Media                          220764     8382  22012.560000
Motor Vehicles & Parts         482540     9687  45106.666667
Retailing                     1465076    14694  77845.362500
Technology                    1377600    53394  35087.735294
Telecommunications             461834    17879  55497.866667
Transportation                 408508     7610  42688.694444
Wholesalers                    444800     1472  13139.925000

In [43]:
#apply invokes its arguement(some function) for each DF row
#will invoke functions for each group

#i want to find two companies in each sector with the most employees
fortune.nlargest(2,"Employees") #2 larget values in emplioyees

,Rank,Company,Sector,Industry,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
217,218,Yum Brands,"Hotels, Resturants & Leisure",Food Services,13105,1293,505000

In [46]:
#or...
def top_2_companies_by_employees(sector): #f. apply przekaze cala jedna grupe do tej funkcji
    #sector is each sector in sequence
    return sector.nlargest(2,"Employees")
#apply will invoke function once for each group
sectors.apply(top_2_companies_by_employees)

C:\Users\deber\AppData\Local\Temp\ipykernel_13128\3338076655.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sectors.apply(top_2_companies_by_employees)

                                  Rank                   Company  \
Sector
Aerospace & Defense          44     45       United Technologies
                             23     24                    Boeing
Apparel                      447   448               Hanesbrands
                             230   231                        VF
Business Services            198   199                   Aramark
                             743   744                 Convergys
Chemicals                    100   101                    DuPont
                             55     56              Dow Chemical
Energy                       1       2               Exxon Mobil
                             116   117               Halliburton
Engineering & Construction   155   156                     AECOM
                             234   235  Jacobs Engineering Group
Financials                   3       4        Berkshire Hathaway
                             26     27               Wells Fargo
Food and Drug Stores         16     17                    Kroger
                             18     19  Walgreens Boots Alliance
Food, Beverages & Tobacco    43     44                   PepsiCo
                             61     62                 Coca-Cola
Health Care                  62     63              HCA Holdings
                             5       6        UnitedHealth Group
Hotels, Resturants & Leisure 217   218                Yum Brands
                             108   109                McDonaldâ€™s
Household Products           33     34          Procter & Gamble
                             255   256    Stanley Black & Decker
Industrials                  10     11          General Electric
                             74     75   Honeywell International
Materials                    125   126                     Alcoa
                             126   127       International Paper
Media                        52     53                    Disney
                             254   255     R.R. Donnelley & Sons
Motor Vehicles & Parts       7       8            General Motors
                             8       9                Ford Motor
Retailing                    0       1                   Walmart
                             27     28                Home Depot
Technology                   30     31                       IBM
                             19     20                        HP
Telecommunications           9      10                      AT&T
                             12     13                   Verizon
Transportation               47     48                       UPS
                             57     58                     FedEx
Wholesalers                  211   212                    Synnex
                             56     57                     Sysco

                                                        Sector  \
Sector
Aerospace & Defense          44            Aerospace & Defense
                             23            Aerospace & Defense
Apparel                      447                       Apparel
                             230                       Apparel
Business Services            198             Business Services
                             743             Business Services
Chemicals                    100                     Chemicals
                             55                      Chemicals
Energy                       1                          Energy
                             116                        Energy
Engineering & Construction   155    Engineering & Construction
                             234    Engineering & Construction
Financials                   3                      Financials
                             26                     Financials
Food and Drug Stores         16           Food and Drug Stores
                             18           Food and Drug Stores
Food, Beverages & Tobacco    43      Food, Beverages & Tobacco
                             61      Food, Beverages & Tobacco
Health Care                  62                    Health Care
                             5                     Health Care
Hotels, Resturants & Leisure 217  Hotels, Resturants & Leisure
                             108  Hotels, Resturants & Leisure
Household Products           33             Household Products
                             255            Household Products
Industrials                  10                    Industrials
                             74                    Industrials
Materials                    125                     Materials
                             126                     Materials
Media                        52                          Media
                             254                         Media
Motor Vehicles & Parts       7          Motor Vehicles & Parts
                             8          Motor Vehicles & Parts
Retailing                    0                       Retailing
                             27                      Retailing
Technology                   30                     Technology
                             19                     Technology
Telecommunications           9              Telecommunications
                             12             Telecommunications
Transportation               47                 Transportation
                             57                 Transportation
Wholesalers                  211                   Wholesalers
                             56                    Wholesalers

                                                                       Industry  \
Sector
Aerospace & Defense          44                           Aerospace and Defense
                             23                           Aerospace and Defense
Apparel                      447                                        Apparel
                             230                                        Apparel
Business Services            198               Diversified Outsourcing Services
                             743               Diversified Outsourcing Services
Chemicals                    100                                      Chemicals
                             55                                       Chemicals
Energy                       1                               Petroleum Refining
                             116                Oil and Gas Equipment, Services
Engineering & Construction   155                      Engineering, Construction
                             234                      Engineering, Construction
Financials                   3         Insurance: Property and Casualty (Stock)
                             26                                Commercial Banks
Food and Drug Stores         16                            Food and Drug Stores
                             18                            Food and Drug Stores
Food, Beverages & Tobacco    43                          Food Consumer Products
                             61                                       Beverages
Health Care                  62                 Health Care: Medical Facilities
                             5          Health Care: Insurance and Managed Care
Hotels, Resturants & Leisure 217                                  Food Services
                             108                                  Food Services
Household Products           33                 Household and Personal Products
                             255                    Home Equipment, Furnishings
Industrials                  10                            Industrial Machinery
                             74                  Electronics, Electrical Equip.
Materials                    125                                         Metals
                             126                          Packaging, Containers
Media                        52                                   Entertainment
                             254                           Publishing, Printing
Motor Vehicles & Parts       7                         Motor Vehicles and Parts
                             8                         Motor Vehicles and Parts
Retailing                    0                            General Merchandisers
                             27                      Specialty Retailers: Other
Technology                   30                 Information Technology Services
                             19                     Computers, Office Equipment
Telecommunications           9                               Telecommunications
                             12                              Telecommunications
Transportation               47             Mail, Package, and Freight Delivery
                             57             Mail, Package, and Freight Delivery
Wholesalers                  211  Wholesalers: Electronics and Office Equipment
                             56                   Wholesalers: Food and Grocery

                                  Revenue  Profits  Employees
Sector
Aerospace & Defense          44     61047     7608     197200
                             23     96114     5176     161400
Apparel                      447     5732      429      65300
                             230    12377     1232      64000
Business Services            198    14329      236     216500
                             743     2951      169     130000
Chemicals                    100    27940     1953      52000
                             55     48778     7685      49495
Energy                       1     246204    16150      75600
                             116    23633     -671      65000
Engineering & Construction   155    17990     -155      92000
                             234    12115      303      56950
Financials                   3     210821    24083     331000
                             26     90033    22894     264700
Food and Drug Stores         16    109830     2039     431000
                             18    103444     4220     302500
Food, Beverages & Tobacco    43     63056     5452     263000
                             61     44294     7351     123200
Health Care                  62     43591     2129     203500
                             5     157107     5813     200000
Hotels, Resturants & Leisure 217    13105     1293     505000
                             108    25413     4529     420000
Household Products           33     78756     7036     110000
                             255    11211      884      51250
Industrials                  10    140389    -6126     333000
                             74     38581     4768     129000
Materials                    125    22534     -322      60000
                             126    22365      938      56000
Media                        52     52465     8382     185000
                             254    11257      151      68400
Motor Vehicles & Parts       7     152356     9687     215000
                             8     149558     7373     199000
Retailing                    0     482130    14694    2300000
                             27     88519     7009     385000
Technology                   30     82461    13190     411798
                             19    103355     4554     287000
Telecommunications           9     146801    13345     281450
                             12    131620    17879     177700
Transportation               47     58363     4844     341240
                             57     47453     1050     323035
Wholesalers                  211    13338      209      78500
                             56     48681      687      51700